.jumbotron {
	padding-top: 3rem;
	padding-bottom: 0;
	margin-bottom: 0;
	background-color: #F49738;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
}

.navbar img {
	max-width:80px;
}

.form-group {
	text-align:left;
}

@media (min-width: 768px) {
	.jumbotron {
	padding-top: 3rem;
	padding-bottom: 0;
	}
	.bd-placeholder-img-lg {
	  font-size: 3.5rem;
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color:#f8f9fa!important;
	border-bottom:solid 1px #f8f9fa!important;
	color:#212529!important;
}

.nav-tabs {
	border-bottom:none;
}

.nav-link {
	color:#343a40!important;
	margin: 1 2px;

	}

.nav-tabs .nav-link {
	background-color:#da730b!important;
	color:#fff!important;
}

.text-muted {
	color:#bebebe!important;
}
.text-dark {
	color:#212529!important;
}


/* TABLE */






/* MULTI SELECT */
.btn-group {
	display:inline!important;
}

.btn-group .multiselect {
	border: solid 1px #bebebe!important;
	width:100%!important;
}

.multiselect-container>li>a>label {
	padding: 3px 20px!important;
	color:#212529!important;
}

.input-group-addon i{
	margin:10px 2px 0 0;
}